*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #A3CE8D;
}


/* Nav Bar */
label .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;

}

label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #A3CE8D;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #A3CE8D;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked+.menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;

}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;

}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;

}

label input:checked+.menu+ul {
    opacity: 1;
}

label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    text-decoration: none;
}

label a {
    margin-bottom: 1em;
    display: block;
    color: #A3CE8D;
    text-decoration: none;

}

/* Hero Image */
body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    color: white;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;
    /* ADD THIS LINE */

    /* Background styles */
    background-image: url(/Check\ Mate!-1\ \(5\).png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    /* CHANGE THIS LINE */
    text-decoration: none;
    font-size: 1.5em;

    /* Border styles */
    border: 3px solid white;
    /* CHANGE THIS LINE */
    border-radius: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: transparent;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    vertical-align: middle;
    height: 35px;
    opacity: 1;
}

.footer-basic {
    padding: 0px 0;
    background-color: transparent;
    color: #000000;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    vertical-align: middle;
    text-align: center;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

.footer-basic li {
    padding: 0 10px;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    text-align: center;
    vertical-align: middle;
}

.footer-basic ul a:hover {
    opacity: 1;
    text-align: center;
    vertical-align: middle;
}

.footer-basic .social {
    text-align: right;
    padding-bottom: 25px;
    vertical-align: middle;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: right;
    margin: 0 8px;
    color: rgb(0, 0, 0);
    opacity: 0.75;
    vertical-align: middle;

}

.footer-basic .social>a:hover {
    opacity: 0.9;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}